main {
    padding-top: 6vh;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
}

thead tr th {
    font-size: 1.4rem;
    font-family: "ADLaM Display", serif;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1F3368;
    color: white;
}

tr:hover {
    background-color: #24242432;
}
