html,
body {
    background-color: #272525;
}

#square {
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: #00f;
    width: 100px;
    height: 100px;
    animation: coolAnimation 15s 1s infinite alternate ease-in-out;
    box-sizing: border-box;
}

@keyframes coolAnimation {
    0% {
        top: 40px;
        left: 40px;
        rotate: 0deg;
        background-color: #00f;
        border-radius: 0;
    }

    25% {
        top: 40px;
        left: calc(100% - 140px);
        rotate: 180deg;
        border-radius: 16px;
        border: none;
        scale: 1;
    }

    50% {
        top: calc(100% - 140px);
        left: calc(100% - 140px);
        rotate: 90deg;
        border: 8px solid #f00;
        border-radius: 0;
        scale: 1.3;
    }

    75% {
        top: calc(100% - 140px);
        left: 40px;
        rotate: 0deg;
        background-color: #00f;
        border: 8px solid #0f0;
        scale: 0.7;
    }

    100% {
        top: 40px;
        left: 40px;
        border: none;
        background-color: #ff0;
        scale: 1;
    }
}