@keyframes irritatie {
    0% {
        transform: translate(0, 0);
    }

    5% {
        transform: translate(50px, 20px);
    }

    8% {
        transform: translate(50px, 20px);
    }

    12% {
        transform: translate(80px, 40px);
    }

    18% {
        transform: translate(100px, 50px);
    }

    20% {
        transform: translate(100px, 50px);
    }

    24% {
        transform: translate(120px, 70px);
    }

    28% {
        transform: translate(150px, 90px);
    }

    32% {
        transform: translate(150px, 90px);
    }

    33% {
        transform: translate(150px, 90px);
    }

    37% {
        transform: translate(170px, 110px);
    }

    43% {
        transform: translate(180px, 130px);
    }

    49% {
        transform: translate(180px, 130px);
    }

    50% {
        transform: translate(200px, 150px);
    }

    54% {
        transform: translate(210px, 160px);
    }

    59% {
        transform: translate(220px, 180px);
    }

    60% {
        transform: translate(220px, 180px);
    }

    65% {
        transform: translate(240px, 200px);
    }

    71% {
        transform: translate(260px, 220px);
    }

    73% {
        transform: translate(260px, 220px);
    }

    78% {
        transform: translate(280px, 240px);
    }

    79% {
        transform: translate(280px, 240px);
    }

    84% {
        transform: translate(300px, 260px);
    }

    88% {
        transform: translate(320px, 280px);
    }

    90% {
        transform: translate(320px, 280px);
    }

    94% {
        transform: translate(350px, 320px);
    }

    97% {
        transform: translate(350px, 320px);
    }

    100% {
        transform: translate(360px, 340px);
    }
}