body {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

body .div {
    border: 2px solid #fff;
    overflow: auto;
    padding: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 300px;
    height: 350px;
    flex: 1 1 calc(50% - 32px);
    border-radius: 20px;
}

@media (max-width: 600px) {
    body .div {
        flex: 1 1 100%;
    }
}

@media (min-width: 1280px) {
    body .div:nth-child(1) {
        flex: 1 1 calc(25% - 32px);
    }

    body .div:nth-child(2) {
        flex: 1 1 calc(25% - 32px);
    }

    body .div:nth-child(3) {
        flex: 1 1 calc(25% - 32px);
    }

    body .div:nth-child(4) {
        flex: 1 1 calc(25% - 32px);
    }

    body .div:nth-child(5) {
        flex: 1 1 calc(50% - 32px);
        height: 250px;
    }

    body .div:nth-child(6) {
        flex: 1 1 calc(50% - 32px);
        height: 250px;
    }
}

#content {
    background-color: rgb(200, 50, 100);
}

#nav {
    background-color: rgb(50, 150, 100);
}

#links {
    background-color: rgb(200, 50, 100);
}

#about {
    background-color: rgb(200, 50, 100);
}

#copy {
    background-color: rgb(50, 150, 100);
}

#footer {
    background-color: rgb(50, 150, 100);
}