html {
    scroll-behavior: smooth;
}

#top-bar {
    width: 100%;
    background-color: #292929;
    text-align: center;
}

#top-image {
    width: 100%;
    height: auto;
}

#home,
#about,
#contact {
    scroll-margin-top: 100px;
}

header {
    position: sticky;
    top: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 96px;
    height: auto;
}

.text {
    padding: 20px;
}

nav {
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(0, 125, 142);
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: rgb(0, 125, 142);
}

nav a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 500ms ease;
}

nav a:hover {
    background-color: #000000;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 175px;
    float: none;
    display: list-item;
    position: relative;
    padding: 4px;
}

nav ul ul li:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav ul ul ul li:first-child {
    border-top-right-radius: 20px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 175px;
    width: 175px;
}


li>a:after {
    content: ' *';
}

li>a:only-child:after {
    content: '';
}